@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(4, 4, 4);
}
html {
  scroll-behavior: smooth;
}
#about {
  background-image: url('/public//assets/Brookhaven_Village.jpg');
}
